# Data Sourcing One-Liners

To simplify the retrieval of data from the API, I have bundled a set of simple functions for retrieving each type of data from the live data API.

In [1]:
from dakar_rallydj.getter import get_category

get_category()

,lastStage,position,mapDisplay,reference,updatedAt,refueling,label,liveDisplay,promotionalDisplay,shortLabel,...,_origin,_id,_key,_updatedAt,_parent,isPointCat,ar,en,es,fr
1,12,3,True,2025-A,2025-01-06T12:11:14+01:00,1,A,True,True,cat.name.A,...,category-2025,63b4f5da4591200d0a4cc239245eb03a,label,1736787045218,millesime:28a3b2a601a2028494b004bb95233853,NaN,سيارات,Car,Coche,Auto
0,12,8,True,2025-F,2025-01-06T12:12:00+01:00,0,F,False,True,cat.name.F,...,category-2025,0a0fb4dfc03bcb6b0e9c940b5a09ae05,label,1736787045218,millesime:28a3b2a601a2028494b004bb95233853,1.0,DAKAR FUTURE MISSION 1000,DAKAR FUTURE MISSION 1000,DAKAR FUTURE MISSION 1000,DAKAR FUTURE MISSION 1000
2,12,7,True,2025-K,2025-01-06T12:11:52+01:00,0,K,False,True,cat.name.K,...,category-2025,b0b0b0087d69431d87d04800e254c7c3,label,1736787045218,millesime:28a3b2a601a2028494b004bb95233853,1.0,Classic,Classic,Classic,Classic
3,12,0,True,2025-M,2025-01-05T20:25:31+01:00,1,M,True,True,cat.name.M,...,category-2025,e377e0f7b61dcf8217845dc4fac8cc5d,label,1736787045218,millesime:28a3b2a601a2028494b004bb95233853,NaN,دراجة,Bike,Moto,Moto

In [2]:
from dakar_rallydj.getter import get_groups
get_groups().head()

,position,reference,shortLabel,label,promotionalDisplay,tinyLabel,_bind,_origin,_id,_parent,color,ar,en,es,fr
8,0,2025-A-T1,cat.name.A_T1,T1,True,ULT,allGroups-2025,categoryGroup-2025-A,b49155b3f5670d2a907aa01e319876b8,category-2025:63b4f5da4591200d0a4cc239245eb03a,#EBBC4E,Ultimate,Ultimate,Ultimate,Ultimate
7,1,2025-A-T2,cat.name.A_T2,T2,True,STK,allGroups-2025,categoryGroup-2025-A,4dac064bf100bc806b91e7f2e7758297,category-2025:63b4f5da4591200d0a4cc239245eb03a,#C7C9C7,Stock,Stock,Stock,Stock
5,4,2025-A-T3,cat.name.A_T3,T3,True,CHG,allGroups-2025,categoryGroup-2025-A,15f329900afa29e3e6b099ae681ebe12,category-2025:63b4f5da4591200d0a4cc239245eb03a,#E04E39,Challenger,Challenger,Challenger,Challenger
6,5,2025-A-T4,cat.name.A_T4,T4,True,SSV,allGroups-2025,categoryGroup-2025-A,423ea731fdcba5cda62c8334985889b0,category-2025:63b4f5da4591200d0a4cc239245eb03a,#A7C6ED,SSV,SSV,SSV,SSV
9,6,2025-A-T5,cat.name.A_T5,T5,True,TRK,allGroups-2025,categoryGroup-2025-A,f1a437ac1135c9d9a5e33f5096f95259,category-2025:63b4f5da4591200d0a4cc239245eb03a,#2D2926,شاحنة,Truck,Camión,Camion

In [3]:
from dakar_rallydj.getter import get_clazz
get_clazz().head()

,refueling,label,shortLabel,reference,position,promotionalDisplay,_bind,_id,_parent,$group,color,tinyLabel,ar,en,es,fr
10,0,+,cat.name.A_T1_+,2025-A-T1-+,4,True,allClazz-2025-A,96c0869600e0013dbf5f86f60e5c4da4,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,NaN,NaN,T1+: Prototype Cross-Country Cars 4x4,T1+: Prototype Cross-Country Cars 4x4,T1+: Prototype Cross-Country Cars 4x4,T1+ : Voitures Tout-terrain Prototypes 4x4
13,0,1,cat.name.A_T1_1,2025-A-T1-1,0,True,allClazz-2025-A,f666973e89db183ecfefc75c3af8ffb1,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,NaN,NaN,T1.1 Prototype Cross-Country Cars 4x4,T1.1 Prototype Cross-Country Cars 4x4,T1.1 Prototype Cross-Country Cars 4x4,T1.1 : Voitures Tout-terrain Prototypes 4x4
11,0,2,cat.name.A_T1_2,2025-A-T1-2,1,True,allClazz-2025-A,f00d7ec8d2d96e9cf11aa515109376cf,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,NaN,NaN,T1.2 Prototype Cross-Country Cars 4x2,T1.2 Prototype Cross-Country Cars 4x2,T1.2 Prototype Cross-Country Cars 4x2,T1.2 : Voitures Tout-terrain Prototypes 4x2
12,0,3,cat.name.A_T1_3,2025-A-T1-3,2,True,allClazz-2025-A,f071b5dbfd586a4ba46100196a98a9c4,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,NaN,NaN,T1.3 FIA: النتيجة,T1.3: SCORE,T1.3 : SCORE,T1.3 : SCORE
9,0,U,cat.name.A_T1_U,2025-A-T1-U,3,True,allClazz-2025-A,1501ebcbaf3ad27e72aecfba7faa8037,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,categoryGroup-2025-A:b49155b3f5670d2a907aa01e3...,NaN,NaN,"T1.U: ""Ultimate"" Prototype Cross-Country Cars","T1.U: ""Ultimate"" Prototype Cross-Country Cars","T1.U: ""Ultimate"" Prototype Cross-Country Cars","T1.U : Voitures Tout-Terrain Prototypes ""Ultim..."

In [4]:
from dakar_rallydj.getter import get_withdrawals

withdrawals_df, withdrawn_competitors_df, withdrawn_teams_df = get_withdrawals()

In [5]:
withdrawals_df.head()

    stage  bib reason       name
65      2  223      1    L. SANZ
66      2  223      1  M. GERINI
57      3  225      1   C. SAINZ
58      3  225      1    L. CRUZ
59      3  306      1  S. ALSAIF

In [6]:
withdrawn_competitors_df.head()

,bib,name,firstName,lastName,role,gender,nationality,profil,profil_sm,podium,aid
20,202,G. CHICHERIT,GUERLAIN,CHICHERIT,P,m,fra,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,3d1b511c-fb5f-44a4-b93b-854666db93a6
21,202,A. WINOCQ,ALEX,WINOCQ,C,m,fra,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,cac1b0ad-da62-4ea1-ae4e-2c8426fabe90
22,206,G. DE VILLIERS,GINIEL,DE VILLIERS,P,m,zaf,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,d75b6d6e-1fc7-40f9-973e-7b051f19caef
23,206,D. VON ZITZEWITZ,DIRK,VON ZITZEWITZ,C,m,deu,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,1e9d8fe5-8cdb-4fcb-8036-7c9b2eff6492
38,208,B. VANAGAS,BENEDIKTAS,VANAGAS,P,m,ltu,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,https://img.aso.fr/core_app/img-motorSports-da...,77735d6e-4d5a-421d-8a32-0b3f21629f04

In [7]:
withdrawn_teams_df.head()

,team.bib,team.brand,team.model,team.vehicle,team.vehicleImg,team.clazz,team.w2rc
9,202,MINI,JCW RALLY 3.0I,X-RAID MINI JCW TEAM,https://img.aso.fr/core_app/img-motorSports-da...,96c0869600e0013dbf5f86f60e5c4da4,False
10,206,TOYOTA,HILUX IMT EVO,TOYOTA GAZOO RACING,https://img.aso.fr/core_app/img-motorSports-da...,96c0869600e0013dbf5f86f60e5c4da4,False
17,208,TOYOTA,HILUX,GURTAM TOYOTA GAZOO RACING BALTICS,https://img.aso.fr/core_app/img-motorSports-da...,96c0869600e0013dbf5f86f60e5c4da4,False
0,219,DACIA,SANDRIDER,THE DACIA SANDRIDERS,https://img.aso.fr/core_app/img-motorSports-da...,96c0869600e0013dbf5f86f60e5c4da4,True
11,220,HAN WEI MOTORSPORT,HWM T1+,212 HANWEI MOTORSPORT TEAM,https://img.aso.fr/core_app/img-motorSports-da...,96c0869600e0013dbf5f86f60e5c4da4,False

In [8]:
from dakar_rallydj.getter import get_waypoints

get_waypoints().head()

,code,id,kilometerPointDisplay,checkpoint,kilometerPoint,hidden,isCHR,isBRP,isASG,isLBL,groups,Year,stage,Category,stage_code
11,012DS,125110,0.0,0,0.00,False,False,False,False,False,None,2025,1,A,waypoint-2025-A-1
0,01207,125111,39.0,1,38.83,False,True,False,False,False,None,2025,1,A,waypoint-2025-A-1
1,01216,125112,92.0,2,91.04,False,True,False,False,False,None,2025,1,A,waypoint-2025-A-1
2,01218,125113,122.0,3,121.18,False,True,False,False,False,None,2025,1,A,waypoint-2025-A-1
3,01220,125114,151.0,4,150.72,False,True,False,False,False,None,2025,1,A,waypoint-2025-A-1

In [9]:
from dakar_rallydj.getter import get_stages

stages_df, sectors_df, stage_surfaces_df, section_surfaces_df, surfaces_df = get_stages()

In [10]:
sectors_df.head()

,powerStage,code,id,length,startTime,type,arrivalTime
0,False,01100,23803,86,2025-01-04T04:30:00+00:00,LIA,2025-01-04T06:25:00+00:00
1,False,01200,23804,413,2025-01-04T06:25:00+00:00,SPE,2025-01-04T10:35:00+00:00
2,False,02100,23805,45,2025-01-05T03:25:00+00:00,LIA,2025-01-05T04:40:00+00:00
3,False,02200,23806,967,2025-01-05T04:40:00+00:00,SPE,2025-01-05T13:00:00+00:00
4,False,02300,23807,46,2025-01-05T13:00:00+00:00,LIA,2025-01-05T14:00:00+00:00

In [11]:
stage_surfaces_df.head()

    code  percentage    color          type
0  01200          18  #753a05    dirt track
1  01200          28  #1dc942  gravel track
2  01200          53  #efc07c          sand
3  01200          18  #753a05    dirt track
4  01200          28  #1dc942  gravel track

In [12]:
section_surfaces_df.head()

    code  section  start  finish    color          type
0  01200        1      0      27  #efc07c          sand
1  01200        2     27      32  #753a05    dirt track
2  01200        3     32      32  #1dc942  gravel track
3  01200        4     32      41  #efc07c          sand
4  01200        5     41      42  #753a05    dirt track

In [13]:
surfaces_df

           type       text_en          text_fr          text_es  text_ar
0    dirt track    Dirt Track      Piste terre  Pista de tierra  الحجارة
1  gravel track  Gravel Track  Piste empierrée           Tierra   التراب
2          sand          Sand            Sable            Arena   الرمال
3         dunes         Dunes            Dunes            Dunas  الكثبان
4  asphalt road  Asphalt Road          Goudron          Asfalto    الزفت